.person-head {
    margin: 0 10px;
    border-radius: 24px;
    padding: 10px 5px;
    background: url('../../assets/img/bg.png');
}
.p-top {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 10px 0;
}
.t-time {
    font-size: 17px;
    float: left;
    width: 50px;
    margin-left: 6px;
}
.p-balance {
    float: right;
    margin-right: 10px;
}
.p-bottom {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 20px 0 10px 0;
}
.p-expend {
    margin-left: 6px;
    width: 150px;
    float: left;
}
.p-income {
    width: 120px;
    float: left;
}
.icon_tanhao {
    width: 20px;
    float: right;
    margin-right: 14px;
    cursor: pointer;
}
.p-e-text, .p-i-text {
    font-size: 20px;
}
.p-budget {
    margin-left: 6px;
}
.p-b-btn {
    cursor: pointer;
    margin-left: 20px;
}
.displayMessage {
    text-align: center;
    margin-bottom: 10px;
    color: red;
}