<div class="history-main">
    <p class="refresh" (click)="refresh()">刷新</p>

    <div class="his-tab" *ngFor="let item of historyList">
        <p class="his-data">{{ item.datatime }}</p>
        <div class="his-des" *ngFor="let info of item.detailsInfo">
            <img class="history-img" src="{{ info.image }}" alt="img">
            <div class="his-r-text">
                <p class="his-r-name">{{ info.name }}</p>
                <p class="his-r-des">{{ info.typename }} <span>{{ info.type }}</span> <span
                        class="his-r-s-time">{{ info.time }}</span></p>
            </div>
            <div class="his-r-value">
                <p class="his-r-v-name">{{ info.status }}</p>
                <p class="his-r-v-text">{{ info.value }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="displayLoadingImg" class="loading-img">
        <img class="loading" src="../../assets/img/loading.gif" alt="img">
    </div>
</div>