<div class="history-main">
    <a class="refresh" ui-sref="profitManage" ui-sref-opts="{reload:true}" href="#">刷新</a>
    <div class="his-tab">
        <p class="his-data">今天</p>
        <div class="his-des">
            <img class="history-img" src="../../assets/img/icon_coffee.png" alt="img">
            <div class="his-r-text">
                <p class="his-r-name">支付宝-瑞幸咖啡</p>
                <p class="his-r-des">零食 信用5793 <span class="his-r-s-time">09:49:27</span></p>
            </div>
            <div class="his-r-value">
                <p class="his-r-v-name">未入账</p>
                <p class="his-r-v-text">-￥ 6.72</p>
            </div>
        </div>
    </div>
    <div class="his-tab">
        <p class="his-data">昨天</p>
        <div class="his-des">
            <img class="history-img" src="../../assets/img/icon_yes.png" alt="img">
            <div class="his-r-text">
                <p class="his-r-name">支付宝-衣服</p>
                <p class="his-r-des">衣服 信用5793 <span class="his-r-s-time">09:40:27</span></p>
            </div>
            <div class="his-r-value">
                <p class="his-r-v-name">未入账</p>
                <p class="his-r-v-text">-￥ 6.17</p>
            </div>
        </div>
        <div class="his-des">
            <img class="history-img" src="../../assets/img/icon_yes.png" alt="img">
            <div class="his-r-text">
                <p class="his-r-name">支付宝-衣服</p>
                <p class="his-r-des">衣服 信用5793 <span class="his-r-s-time">09:40:27</span></p>
            </div>
            <div class="his-r-value">
                <p class="his-r-v-name">未入账</p>
                <p class="his-r-v-text">-￥ 6.17</p>
            </div>
        </div>
    </div>
    <div class="his-tab">
        <p class="his-data">8月5日</p>
        <div class="his-des">
            <img class="history-img" src="../../assets/img/icon_coffee.png" alt="img">
            <div class="his-r-text">
                <p class="his-r-name">支付宝-瑞幸咖啡</p>
                <p class="his-r-des">零食 信用5793 <span class="his-r-s-time">09:49:27</span></p>
            </div>
            <div class="his-r-value">
                <p class="his-r-v-name">未入账</p>
                <p class="his-r-v-text">-￥ 9.12</p>
            </div>
        </div>
    </div>
</div>