.nav-select {
    clear: both;
    overflow: hidden;
    margin: 10px 10px 20px 10px;
}
.form-control {
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.l-ipt {
    float: left;
}
.r-ipt {
    float: right;
}