<div class="bill-main">
    <div class="bill-list">
        <img class="bill-img" src="../../assets/img/icon_data.png" alt="img">
        <p>收支分析</p>
    </div>
    <div class="bill-list">
        <img class="bill-img" src="../../assets/img/icon_bill.png" alt="img">
        <p>月度账单</p>
    </div>
    <div class="bill-list">
        <img class="bill-img" src="../../assets/img/icon_bill2.png" alt="img">
        <p>我的账本</p>
    </div>
    <div class="bill-list">
        <img class="bill-img" src="../../assets/img/icon_search.png" alt="img">
        <p>查找交易</p>
    </div>
</div>