.bill-main {
    clear: both;
    overflow: hidden;
    margin: 20px 0;
}
.bill-list {
    float: left;
    width: 25%;
    text-align: center;
    cursor: pointer;
}
.bill-list p{
    text-align: center;
    color: #000;
}
.bill-img {
    width: 50px;
}